<html>
    <head>
        <title>RHME</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bower_components/drawingboard.js/dist/drawingboard.min.css') }}"/>
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/drawingboard.js/dist/drawingboard.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/simple-undo/lib/simple-undo.js') }}"></script>

    </head>
    <body>
        <div id="background"></div>
        <section id="mainContent">
            <header>
                <h1>Reconhecimento de expressões matemáticas manuscritas</h1>
                <p><b>Operações e operadores aceitos:</b> adição, subtração, multiplicação, divisão, radiciação, raiz quadrada</p>
                <p><b>Símbolos aceitos:</b> {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, m, n, x, y, z, +, -, *, ., sqrt}</p>
                <p><b>Repositório no github:</b>
                    <a href="https://github.com/carolreis/handwritten-mathematical-expression-recognition-api">
                        https://github.com/carolreis/handwritten-mathematical-expression-recognition-api
                    </a>
                </p>
                <p><b>Artigo:</b> <a href="{{ url_for('static', filename='...') }}" title="Paper">Download</a></p>
            </header>

            <div class="quadro">
                <div class="quadro__canvas" id="zbeubeu"></div>
                <div class="quadro__botao" id='reconhecer'>Reconhecer</div>
                <div class="quadro__resultado" id='latexContainer'>
                    <p>LaTeX:</p>
                    <div class="quadro__resultado--latex" id='latex'></div>
                </div>
            </div>
        </section>
<script>
    /*var myBoard = new DrawingBoard.Board('zbeubeu');
    var control = DrawingBoard.Control.Color;
    console.log(control);*/
    var myBoard = new DrawingBoard.Board('zbeubeu', {
        size: 3,
        controls: [
            { Size: { type: false } },
            { Navigation: { back: false, forward: false } },
            { DrawingMode: { filler: false } }
        ],
        webStorage: 'local'
    });

    document.querySelector("#reconhecer").addEventListener("click", function() {
        var img = myBoard.getImg();
        console.log('IMAGE: ', img)
        console.log(typeof(img))
        //img = JSON.stringify(img);
        //document.querySelector('#teste').setAttribute('src', img)
    
        fetch('ajax/recognize/',{
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json' },
            body: JSON.stringify({
                "image": img
            })
            //body: img.split(",")[1]
        })
        .then(function(response) {
            return response.text()
        })
        .then(function(data) {
            data = JSON.parse(data)
            print(data)
            print(data.latex)
            document.querySelector("#latex").innerText = data.latex;
            //var objectURL = URL.createObjectURL(myBlob);
            //myImage.src = objectURL;
        });
    })

</script>
    </body>
</html>