<html>
    <head>
        <title>MathReader Validation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bower_components/drawingboard.js/dist/drawingboard.min.css') }}"/>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"> -->
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
        </script>

    </head>
    <body>
        <div id="background"></div>
        <section id="mainContent">
            <header>
                <h1>MathReader</h1>
                <h4>Interface for the MathReader validation</h4>
                <h4>Caroline Santos dos Reis | Computer Science | Univesidade Luterana do Brasil | Canoas, Brazil | caroline.reis@rede.ulbra.br</h4>
                <h4>Fabiana Lorenzi | Computer Science | Univesidade Luterana do Brasil | Canoas, Brazil | fabilorenzi@gmail.com</h4>

                <p><b>GitHub repository:</b>
                    <a href="https://github.com/carolreis/mathreader">
                        https://github.com/carolreis/mathreader
                    </a>
                </p>

                <p><b>PyPi:</b>
                <p><b>PyPi:</b>
                    <a href="https://pypi.org/project/mathreader/">
                        https://pypi.org/project/mathreader/
                    </a>
                </p>

                <div id="info">

                    <p id="about"><b>ABOUT:</b></p>
                    <p>
                        This interface uses the MathReader API to recognize handwritten mathematical expressions,
                        which are translate to <b>LaTeX language</b>
                    </p>
                    <hr/>

                    <p>The API recognizes one expression at a time</p>
                    <p><b>Accepted operations:</b> addition, subtraction, multiplication, division, potentiation, square root</p>
                    <p><b>Accepted symbols:</b> {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, m, n, x, y, z, +, -, &horbar;, &lowast;, ., &radic;, =, &ne;, {, }, [, ], (, )}</p>
                    <p>
                        <ul><b>Important:</b></ul>
                            <li>The multiplication operation is performed by the &lowast; symbol</li>
                            <li>The division operation is performed with the &horbar; bar fraction symbol</li>
                            <li>Each symbol must be written separately - symbols must not be connected</li>
                            <ul><b>Math conventions:</b></ul>
                                <li>
                                    Don't write the fraction bar with a width less than the numerator or denominator
                                </li>
                            </ul>
                        </ul>
                    </p>
                </div>

                <!-- <p><b>Artigo:</b> <a href="{{ url_for('static', filename='...') }}" title="Paper">Download</a></p> -->
            </header>

            <div class="quadro">
                <div class="quadro__canvas" id="zbeubeu"></div>
                <div class="quadro__botao" id='recognize'>Recognize<div id="loading"></div></div>
                <div class="quadro__resultado" id='latexContainer'>
                    <div class="quadro__resultado__teste" id="visualLatex"></div>
                    <p id="latex-title">LaTeX:</p>
                    <div class="quadro__resultado__error">
                        The expression couldn't be recognized correctly. Please, try writing it again.
                    </div>
                    <div class="quadro__resultado__latex" id="latex"></div>
                </div>
            </div>
            <div id="info_latex">
                <ul><b>LaTeX notation:</b></ul>
                    <li>\cdot = *</li>
                    <li>\frac{}{} = division</li>
                    <li>\sqrt{} = square root</li>
                    <li>\neq = &ne;</li>
                    <li>_ = subscript</li>
                </ul>
            </div>
        </section>

        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/drawingboard.js/dist/drawingboard.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/simple-undo/lib/simple-undo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/recognize.js') }}"></script>

    </body>
</html>
